
<div class="w3-quarter">
    <a href="{{genxml.sessionparams.r.pageurl}}?articleid={{genxml.data.genxml.column.itemid}}">
        {{#each genxml.data.genxml.imagelist.genxml}}
        {{#if @first}}
        <img class="sliderind{{@root.genxml.sessionparams.r.moduleref}}" src="{{thumbnailimageurl @root.genxml.sessionparams.r.engineurl hidden.imagepatharticleimage 270 400  }}" style="width:100%">
        {{/if}}
        {{/each}}
    </a>
    <h3>{{genxml.data.genxml.lang.genxml.textbox.articlename}}</h3>
    <p>{{genxml.data.genxml.lang.genxml.textbox.articlesummary}}</p>
</div>


{{! displayData this}}

